#spring.data.r2dbc.repositories.enabled=true
spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/recipe
    username: grego
    password: springboot

logging:
  file:
    name: logs/spring-boot-react-recipeservice.log
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
      springframework:
        jdbc:
          core:
            JdbcTemplate: DEBUG
            StatementCreatorUtils: TRACE
service:
  default_page_size: 10